<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/nav.css}">
        <link rel="stylesheet" th:href="@{/css/choosedate.css}">
        <script th:src="@{/js/nav.js}"></script>
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

        <title>Оберіть дату</title>
    </head>
    <body>
        <main>
            <nav>
                <button onclick="dropDown()" class="show-nav"></button>
                <p class="logout-a" th:text="${user}"></p>
                <img th:src="@{/imgs/icon.svg.png}">
                <a href="/tasks/all">Всі</a>
                <a href="/tasks/today">Сьогодні</a>
                <a href="/tasks/tomorrow">Завтра</a>
                <a href="/tasks/choosedate">Обрати дату</a>
                <a href="/tasks/this-month">Цей місяць</a>
                <button class="logout-img" onclick="window.location.href='/logout'" th:src="@{/imgs/logout-white.png}"></button>

                <div id="myDropdown" class="dropdown-content">
                    <a href="/tasks/all">Всі</a>
                    <a href="/tasks/today">Сьогодні</a>
                    <a href="/tasks/tomorrow">Завтра</a>
                    <a href="/tasks/choosedate">Обрати дату</a>
                    <a href="/tasks/this-month">Цей місяць</a>
                    <a href="/logout">Вийти</a>

                </div>
            </nav>




            <div class="buttons">

           
                <form id="choose-full-date-form">
                    <div class="input">
                    <input type="date" id = "fulldate" required>
                    </div>
                    <button type="submit" onclick="
                    document.getElementById('choose-full-date-form').action=`/tasks/${document.getElementById('fulldate').value}`
                    ">Обрати дату</button>
                </form>
                <form id="choose-ym-date-form">
                    <div class="input">
                    <input value="2022" type="number" min="2022" max="2030" id ="year1" required>
                    <select  id ="month" required>
                        <option value="" disabled selected hidden>Оберіть місяць</option>
                        <option>Січень</option>
                        <option>Лютий</option>
                        <option>Березень</option>
                        <option>Квітень</option>
                        <option>Травень</option>
                        <option>Червень</option>
                        <option>Липень</option>
                        <option>Серпень</option>
                        <option>Вересень</option>
                        <option>Жовтень</option>
                        <option>Листопад</option>
                        <option>Грудень</option>
                    </select>
                    </div>
                    <button type="submit" onclick="document.getElementById('choose-ym-date-form').action=getMonthLink('year1', 'month'); ">
                            Обрати місяць</button>
                    </form>
                    <form id="choose-y-date-form">
                        <div class="input">
                        <input type="number" value="2022" min="2022" max="2030" id ="year2" required>
                        </div>
                        <button type="submit" onclick="document.getElementById('choose-y-date-form').action=`/tasks/${document.getElementById('year2').value}`">
                            Обрати рік</button>
                    </form>
            
                </div>
            </main>
       
    </body>
</html>